.site_entete {}

.recherche{
    display:flex;
    flex-wrap:nowrap;
}
.logomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#002720;
}

.logomenu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.menusearch{
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:column-reverse;

    @media screen and (min-width:1000px)
    {
        flex-direction:row;
        align-items:center;
        justify-content:flex-end;
        flex:1;
    }
}
#chkBurger:checked ~ .menu-entete-container{
    transform : translateX(0);
}

#chkBurger{
    display:none;
}

.burger {
    display:block;

    @media screen and (min-width:500px){
        display:none;
    }
}
.menu-entete-container {
    transform : translateX(300px);
    transition:transform .25s;

    @media screen and (min-width:500px){
        transform:translateX(0);
    }
}

    .menu {

        //UL
        display: flex;
        flex-direction:column;
        align-items:flex-end;
        justify-content:flex-start;
        list-style-type: none;

        @media screen and (min-width:400px){
            justify-content: flex-end;
            flex-direction:row;
            align-items:center;
        }
        
        flex-wrap: wrap;
      
        min-height: 10vh;
    }

    .menu-item {
        flex: 1 0 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        //LI
        a {
            white-space:nowrap;
            padding: 3px 5px;
            text-decoration: none;
            text-transform: uppercase;
            font-size:13pt;
        }

        a:hover {
            color: beige;
        }
    }

