.menu-31w-container {
  ul {
    padding: 0px;
  }
}

.menu-cours-container {
  //nav

  .menu {
    //ul

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    @media screen and (min-width: 1000px) {
      flex-direction: column;
    }

    .menu-item {
      // li

      list-style-type: none;

      a {
        display:flex;
        align-items:center;
        text-decoration:none;
        font-variant:small-caps;

        .cours_sigle {
          padding:1px 3px;

          @media screen and (min-width: 1000px) {
              padding:5px;
          }
        }

        .cours_titre {
          display: none;

          @media screen and (min-width: 1000px) {
            display: block;
          }
        }
      }
    }
  }
}
