// .viewport {
//   min-height: 100vh;
//   padding: 0 3rem;
// }

.attachment-large {
  width: 100%;
  object-fit: cover;
}
.menu_bloc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #002720;

  #menu-evenement {
    align-items: center;
    border-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    min-height: 20vh;
    flex: 1;

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color:white;
    }
    li {
      border-style: none;
    }

    a {
      text-decoration: none;

      span {
        color: white;
        padding: 0;
      }
    }

    img {
      padding: 0;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
