ul,ol{}

strong, b{}

em , i {

}

a {}

ul li {

}

ol li {

}
code {}

hr {
    
}

.marge_entete{
    // margin:25px;
}

.logomenu img{
    margin:10px;
}

html{
    background-color: #FFF7EC;
}

.btn_orange{
    background-color:rgb(255, 198, 91);
    padding:clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
    font-size:clamp(0.5rem, 0.125rem + 1.2vw, 1.1rem);
    border-radius:10px;
    border-style:none;
    display:inline-block;
    color:black;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}

.texte_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    min-height: 90vh;
}

.texte_image div {
    color: white;
    margin: 50px;
    position: relative;
    max-width: 70ch;
}

/* Version avec balise d'image */
.texte_image {
    background-color: black;
}

.texte_image img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.texte_image h1, .texte_image h2, .texte_image h3{
    color:#FFF7EC;
}
    
